html, body {
    width: 100%;
    height: 100%;
}

.image-container {
    position: relative;
    max-width: 100%;
}

.image-container img {
    width: 100%;
}

.link {
    position: absolute;
    /* Die nächste Zeile kann entfernt werden, wenn ihr fertig seid */
    /* border: 2px solid green; */
    z-index: 2;
    cursor: pointer;
}


/* Hier könnt ihr die Positionen festlegen */
.cafe {
    top: 56%;
    left: 44%;
    width: 54%;
    height: 25%;
}

.eichhoernchen {
    top: 30%;
    left: 82%;
    width: 8%;
    height: 9%;
}

.elster {
    top: 33%;
    left: 91%;
    width: 8%;
    height: 11%;
}

.enten {
    top: 47%;
    left: 42%;
    width: 6%;
    height: 9%;
    transform: rotate(45deg);
}

.frosch {
    top: 85%;
    left: 91%;
    width: 8%;
    height: 14%;
}

.fuchs {
    top: 75%;
    left: 17%;
    width: 10%;
    height: 15%;
}

.fussball {
    top: 27%;
    left: 52%;
    width: 17%;
    height: 14%;
}

.gans {
    top: 56%;
    left: 37%;
    width: 7%;
    height: 8%;
}

.glocken {
    top: 0%;
    left: 0%;
    width: 12%;
    height: 23%;
}

.heissluftballon {
    top: 0%;
    left: 74%;
    width: 7%;
    height: 14%;
}

.hund {
    top: 45%;
    left: 39%;
    width: 4%;
    height: 5%;
}

.inliner {
    top: 84%;
    left: 29%;
    width: 12%;
    height: 15%;
}

.katze {
    top: 89%;
    left: 60%;
    width: 15%;
    height: 10%;
}

.kinder {
    top: 42%;
    left: 9%;
    width: 24%;
    height: 33%;
}

.kraehen {
    top: 20%;
    left: 75%;
    width: 20%;
    height: 10%;
}

.lama {
    top: 24%;
    left: 22%;
    width: 8%;
    height: 19%;
    transform: skewX(25deg);
}

.pferde {
    top: 23%;
    left: 0%;
    width: 10%;
    height: 10%;
}

.schnarchen {
    top: 55%;
    left: 0%;
    width: 9%;
    height: 15%;
}

.schwan {
    top: 44%;
    left: 50%;
    width: 12%;
    height: 12%;
}

.schweine {
    top: 28%;
    left: 29%;
    width: 8%;
    height: 5%;
    transform: skewX(25deg);
}

.strauss {
    top: 18%;
    left: 12%;
    width: 5%;
    height: 8%;
}

.ziege {
    top: 15%;
    left: 32%;
    width: 12%;
    height: 12%;
}
